.main{
    margin: 30px 60px;
    background-color: white;
    font-weight: 300;
}
body{
    background-image: url("../images/background.png");
}

.btn-publish{
    float: right;
    margin-bottom: 20px;
}
.teal{
    color: darkgray;
}

.md-margin-small{
    margin: 20px 0px;
}

.sub-comments {
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid #eee;
    padding-top: 15px;
    margin-bottom: 15px;
}
.md-margin-small-top{
    margin-top: 20px;
}
.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.md-menu{
    color: #999;
    font-size: 13px;
}

.md-menu:hover{

}

.width{
    width: 50% !important;
}

.me-media-object{
    width: 38px;
}

.md-media-body{
    padding: 10px;
}

.md-comment{
    margin:10px 0px;
}

.btn-comment{
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
}
.comment-sp{
    margin-top: 0px;
}

.menu {
    color: #999;
    margin-top: 5px;
}

.menu .icon {
    margin-right: 6px;
    font-size: 15px;
    cursor: pointer;
}

.md-margin-top{
    margin-top: 20px;
}
.md-margin-small-top{
    margin-top: 20px;
}

.sub-comments {
    border-radius: 5px;
    margin-top: 20px;
    border: 1px solid #eee;
    padding-top: 15px;
    margin-bottom: 15px;
}

.sub-comments .btn {
    margin: 10px 0;
}


.menu .comment-icon {
    font-size: 15px;
    cursor: pointer;
}

.menu .comment-icon :hover {
    color: #499ef3;
}

.menu .active {
    color: #499ef3;
}

.menu .icon:hover {
    color: #499ef3;
}


.publish-tag-tab {
    display: none;
    margin-top: 10px;
    padding-top: 10px;
}

.publish-tag-tab .label-info {
    white-space: normal;
    margin: 5px 5px;
    display: inline-block;
}


.community-tag:hover {
    background-color: #339dff;
    color: #fff !important;
    text-decoration-line: none;
}

.community-tag {
    text-decoration-line: none;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    line-height: 16px;
    padding: 3px 5px;
    background-color: #99cfff;
    font-size: 12px;
    color: #fff !important;
    border-radius: 4px;
    margin: 4px;
}

.community-menu {
    color: #999;
    font-size: 13px;
    margin-bottom: 15px;
}

a{
    text-decoration: none !important;
}

.question-tag {
    margin-right: 5px;
}

.question-related {
    line-height: 20px;
    font-size: 12px;
    margin-left: 0;
    list-style: none !important;
    padding-left: 0;
}

.md-none-margin{
    margin-top: 0px;
    margin-bottom: 10px;
}