<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${question.title}">个人中心</title>
    <head th:insert="~{import::head}">
</head>
<body>
<div th:insert="~{navigation::nav}"></div>
<div class="container-fluid main">

    <!--这是左边的块-->
    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">

        <!--//问题展示页面-->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div>
                <h4 th:text="${question.title}"></h4>
                <span class="text-desc">
                作者：<span th:text="${question.user.name}"> </span>•
                发布时间：<span th:text="${#dates.format(question.gmtCreate,'yyyy-MM-dd HH:mm')}"></span>•
                <span th:text="${question.viewCount}">2</span> 次浏览
            </span>
            </div>
            <hr  class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:text="${question.description}"></div>
            <hr>
            <div th:if="${session.user.getId() == question.creator}" class="md-menu">
                <a th:href="@{'/publish/'+${question.id}}"> <span class="glyphicon glyphicon-pencil">编辑</span></a>
            </div>
            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="question-view">
                <textarea style="display:none;" th:text="${question.description}"></textarea>
            </div>
        </div>


        <!--评论页面-->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h4>
                提交回复
            </h4>
            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12 comment-sp">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="comment_section">
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object me-media-object img-rounded"
                                 th:src="${session.user != null ? session.user.avatarUrl : '/images/default-avatar.png'}">
                        </a>
                    </div>
                    <div class="media-body md-media-body">
                        <h5 class="media-heading">
                            <span th:text="${session.user != null ? session.user.name : '匿名用户'}"></span>
                        </h5>
                    </div>
                </div>
                <input type="hidden" id="question_id" th:value="${question.id}">
                <textarea class="form-control comment" rows="6" id="comment_content"></textarea>
                <button type="button" class="btn btn-success btn-comment" onclick="post()">回复</button>
            </div>
        </div>

    </div>

    <!--这是右边的块-->
    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h4>发起人</h4>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object me-media-object img-rounded"
                             th:src="${session.user != null ? session.user.avatarUrl : '/images/default-avatar.png'}">
                    </a>
                </div>
                <div class="media-body md-media-body">
                    <h5 class="media-heading">
                        <span th:text="${session.user != null ? session.user.name : '匿名用户'}"></span>
                    </h5>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h4>相关问题</h4>
        </div>
    </div>
</div>
</body>
</html>